<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>None</string>
        <key>CFBundleURLName</key>
        <string>com.zhihu.daily</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wx841a6aace4a1dca4</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>None</string>
        <key>CFBundleURLName</key>
        <string>com.getpocket.sdk</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>pocketapp16650-daily</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>None</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>zhihudaily</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>mqqapi</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>QQ05FD8444</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>tencent</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tencent100891835</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>zhihuOauth</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>zhihu2</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>weibo</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wb518092098</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>None</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>zhdaily</string>
        </array>
      </dict>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>DTPlatformVersion</key>
    <string>13.1</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>CFBundleName</key>
    <string>daily</string>
    <key>DTSDKName</key>
    <string>iphoneos13.1</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>以便于你可以在应用中上传、发送相机胶卷中的内容，或保存照片到相机胶卷中。</string>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>ZHAppBuildType</key>
    <string>Adhoc</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleBlackOpaque</string>
    <key>UIStatusBarTintParameters</key>
    <dict>
      <key>UINavigationBar</key>
      <dict>
        <key>TintColor</key>
        <dict>
          <key>Green</key>
          <integer>0</integer>
          <key>Blue</key>
          <integer>0</integer>
          <key>Red</key>
          <integer>0</integer>
        </dict>
      </dict>
    </dict>
    <key>CFBundleDisplayName</key>
    <string>知乎日报</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>readability</string>
      <string>mqq</string>
      <string>mqqapi</string>
      <string>zhihu</string>
      <string>pocket-oauth-v1</string>
      <string>pocket</string>
      <string>wechat</string>
      <string>weixin</string>
      <string>sinaweibo</string>
      <string>en</string>
      <string>zhihuOauth</string>
      <string>weibosdk</string>
      <string>sinaweibohd</string>
      <string>weibosdk2.5</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>以便于你可以在「首页」中获得更精准的有关地域内容的推荐。</string>
    <key>DTSDKBuild</key>
    <string>17A820</string>
    <key>NSCameraUsageDescription</key>
    <string>你可以在应用中使用相机进行拍摄。</string>
    <key>CFBundleShortVersionString</key>
    <string>3.1.0</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>18F132</string>
    <key>DTPlatformBuild</key>
    <string>17A820</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>MinimumOSVersion</key>
    <string>10.0</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>DTXcodeBuild</key>
    <string>11A1027</string>
    <key>CFBundleVersion</key>
    <string>2019111216340</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>以便于你可以在应用中保存照片到相机胶卷中。</string>
    <key>UIPrerenderedIcon</key>
    <true/>
    <key>UIStatusBarHidden</key>
    <false/>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Portrait-736h</string>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
      </dict>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-667h</string>
        <key>UILaunchImageSize</key>
        <string>{375, 667}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
      </dict>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700</string>
        <key>UILaunchImageSize</key>
        <string>{320, 480}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
      </dict>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-568h</string>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
      </dict>
    </array>
    <key>UTExportedTypeDeclarations</key>
    <array>
      <dict/>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>Launch Screen</string>
    <key>CFBundleLocalizations</key>
    <array>
      <string>zh_CN</string>
    </array>
    <key>Fabric</key>
    <dict>
      <key>Kits</key>
      <array>
        <dict>
          <key>KitInfo</key>
          <dict>
            <key>KitName</key>
            <string>Crashlytics</string>
          </dict>
        </dict>
      </array>
      <key>APIKey</key>
      <string>b5ad3df1af31fec03bba952e7ee2149c224edd40</string>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>com.zhihu.daily</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>你可以在应用中录制音频、创建语音消息。</string>
    <key>DTXcode</key>
    <string>1110</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>知乎日报</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
          <string>AppIcon83.5x83.5</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>DTAppStoreToolsBuild</key>
    <string>11B48b</string>
  </dict>
</plist>
